<div class="container">
  
  
  <br>
      
        <div class="row alert alert-success" ng-show="main.successMsg">
          {{ main.successMsg }}
        </div>
        
        <div class="row alert alert-danger" ng-show="main.errorMsg">
           {{ main.errorMsg }}
        </div>
        
        <div class="row alert alert-danger" ng-show="facebook.errorMsg">
           {{ facebook.errorMsg }}
        </div>

  <h1>Account Activation ...</h1>
  
</div>