<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <title>MEAN</title>
    
<!--    css-->
<!--    <link rel="stylesheet" href="assets/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/css/custom.css">
<!--    js-->
    <script src="assets/js/jquery-3.2.1.min.js"></script>
<!--    <script src="assets/js/bootstrap.min.js"></script>-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   
<!--    main angularjs-->
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/angular-animate.js"></script>
    <script src="assets/js/angular-route.js"></script>
<!--    angular routes-->
    <script src="app/app.js"></script>
    <script src="app/routes.js"></script>
<!--    angular controllers-->
    <script src="app/controllers/userCtrl.js"></script>
    <script src="app/controllers/mainCtrl.js"></script>
    <script src="app/controllers/emailCtrl.js"></script>
    <script src="app/controllers/managementCtrl.js"></script>
<!--    angular services-->
    <script src="app/services/userService.js"></script>
    <script src="app/services/authServices.js"></script>
    <script src="app/services/managementServices.js"></script>
<!--    angular UI-->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    
</head>
<body ng-app="userApp" ng-controller="mainCtrl as main" ng-show="main.loadme" ng-cloak>
   
   <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" ng-show="main.isLoggedIn && main.authorize" href="/management">Management</a>
  <a class="navbar-brand" href="/">Home</a>
  <a class="navbar-brand" href="/about">About</a>
  <a ng-show="!main.isLoggedIn" class="navbar-brand" href="/register">Register</a>
  <a ng-show="!main.isLoggedIn" class="navbar-brand" href="/login">Login</a>
  <a ng-show="main.isLoggedIn" class="navbar-brand" href="#" ng-click="main.logout()">Logout</a>
  <a ng-show="main.isLoggedIn" class="navbar-brand" href="/profile" >Hello {{ main.username }}</a>

  
</nav>


<div ng-view>
    
</div>
 
<!--expires Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" ng-click="main.endSession()" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ main.modalHeader }}</h4>
      </div>
      <div class="modal-body">
        <p>{{ main.modalBody }}</p>
        <div ng-show="main.hideButton" class="dizzy-gillespie"></div>
        
        
      </div>
      <div class="modal-footer">
        <button type="button" ng-hide="main.hideButton" ng-click="main.reNewSession()" class="btn btn-primary" data-dismiss="modal">Yes</button>
        <button type="button" ng-hide="main.hideButton" ng-click="main.endSession()" class="btn btn-danger" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>   
   
    
</body>
</html>