<div class="container">
  
  
  <br>
        <div class="row alert alert-default" ng-show="main.loading">
          <span>Loading.......</span>
        </div>
      
        <div class="row alert alert-success" ng-show="main.successMsg">
          {{ main.successMsg }}
        </div>
        
        <div class="row alert alert-danger" ng-show="main.errorMsg">
           {{ main.errorMsg }}
        </div>
        
        <div class="row alert alert-danger" ng-show="facebook.errorMsg">
           {{ facebook.errorMsg }}
        </div>



      
   <form class="form-horizontal" ng-submit="main.doLogin(loginData)">
   
   
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Username:</label>
    <div class="col-sm-10">
      <input ng-model="main.loginData.username" type="text" class="form-control" id="username" placeholder="Enter Username">
    </div>
  </div>
   

  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input ng-model="main.loginData.password"  type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
  </div>
  
 
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Submit</button>
      
      <button type="button" ng-click="main.facebook()" class="btn btn-primary">Facebook</button>
      
      
    </div>
  </div>
</form>
  


  
</div>