<div class="container">
    
    <table class="table table-hover table-stripped">
        
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
        
        <tr>
            <td>{{ main.username }}</td>
            <td>{{ main.useremail }}</td>
            <td>**********</td>
            
        </tr>
        
    </table>
    
</div>