<div class="container">
  
  
  <br>
        <div class="row alert alert-default" ng-show="register.loading">
          <span>Loading.......</span>
        </div>
      
        <div class="row alert alert-success" ng-show="register.successMsg">
          {{ register.successMsg }}
        </div>
        
        <div class="row alert alert-danger" ng-show="register.errorMsg">
           {{ register.errorMsg }}
        </div>
        
        
        



      
   <form name="regFrom"  class="form-horizontal" ng-submit="register.regUser(regData)" novalidate>
   
   
   
       <div class="form-group">
        <label class="control-label col-sm-2" for="email">Name:</label>
        <div class="col-sm-10">
          <input ng-pattern="/^([a-zA-Z]{3,20})$/" ng-model="register.regData.name" name="name" type="text" class="form-control" id="name" placeholder="Enter Name" required>
          <p class="text-danger" ng-show="(! regFrom.name.$pristine && regFrom.name.$error.pattern) || (regFrom.$submitted && regFrom.name.$error.pattern)">Name must be 3 to 20 character and only letter!</p>
        </div>
      </div>
    

   
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Username:</label>
    <div class="col-sm-10">
      <input ng-blur="register.checkUsername(regData)" ng-pattern="/^([a-zA-Z0-9]{3,8})$/" ng-model="register.regData.username" name="username" type="text" class="form-control" id="username" placeholder="Enter Username" required>
     <span ng-show="register.checkingUsername" class="glyphicon glyphicon-repeat"></span> <p ng-show="register.usernameMsg && !regFrom.username.$error.required && regFrom.username.$valid">{{ register.usernameMsg }}</p>
      <p class="text-danger" ng-show="(! regFrom.username.$pristine && regFrom.username.$error.pattern) || (regFrom.$submitted && regFrom.username.$error.pattern)">Username only letter or number And size 3 to 8</p>
    </div>
  </div>
   
  <div class="form-group">
    <label class="control-label col-sm-2" for="email">Email:</label>
    <div class="col-sm-10">
      <input ng-blur="register.checkEmail(regData)" ng-pattern="/\S+@\S+\.\S+/" ng-model="register.regData.email" name="email"  type="text" class="form-control" id="email" placeholder="Enter email" required>
     <span ng-show="register.checkingEmail" class="glyphicon glyphicon-repeat"></span> <p ng-show="register.emailMsg && !regFrom.email.$error.required && regFrom.email.$valid">{{ register.emailMsg }}</p>
       <p class="text-danger" ng-show="(! regFrom.email.$pristine && regFrom.email.$error.pattern) || (regFrom.$submitted && regFrom.email.$error.pattern)">Must Be a Valid Email</p>
    </div>
  </div>
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Password:</label>
    <div class="col-sm-10"> 
      <input ng-pattern="/^(?=(?:[^A-Z]*[A-Z]){2})(?=[^!@#$&*]*[!@#$&*])(?=(?:[^0-9]*[0-9]){2}).{8,}$/" ng-model="password" name="password"  type="password" class="form-control" id="pwd" placeholder="Enter password">
      <p class="text-danger" ng-show="(! regFrom.password.$pristine && regFrom.password.$error.pattern) || (regFrom.$submitted && regFrom.password.$error.pattern)">At least two uppercase, At least one special, At least two digit ,Password length is 8 or more</p>
    </div>
  </div>
  
  
  <div class="form-group">
    <label class="control-label col-sm-2" for="pwd">Confirm Password:</label>
    <div class="col-sm-10"> 
      <input  name="confirmPassword"  type="password" class="form-control" id="pwd" placeholder="Enter password"  ng-model="confirm" match="{{[password]}}" ng-change="register.regData.password = confirm">
      <p class="text-danger" ng-show="!confirmed && !regFrom.confirmPassword.$pristine && regFrom.password.$valid">Not Confirm</p>
    </div>
  </div>
  
 
  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Submit</button>
    </div>
  </div>
</form>
  

<!--
        <div class="row alert alert-danger" >
           <span>In this form pristine -> </span>{{ regFrom.$pristine }} <br>
           <span>Is this form valid -> </span>{{ regFrom.$valid }} <br>
           <span>Is this form submitted -></span>{{ regFrom.$submitted }} <br>
           <span>Does this form has error -></span>{{ regFrom.$error }} <br>
           
           
        </div>
-->

 
  
</div>