
<div class="container">
  <h2>Management Section</h2>
  
  <br>


<br>

<!-- Apply Button Filter -->
<button type="button" ng-click="management.showMore(number);" class="btn btn-success">Apply Filter</button>

<!--/ Show All Button -->
<button type="button" ng-click="management.showAll();" class="btn btn-warning">Show All</button>

<!-- Input For Filter  -->
<div class="showmore">
    <div class="col-lg-6">
        <div class="input-group">
            <span class="input-group-addon">Results to display:</span>
            <input type="text" class="form-control" ng-model="number">
        </div>
    </div>
</div>
<!-- Input For Filter  -->

<br>
<br>

<!-- Custom Error Message -->
<div class="row show-hide-message" ng-show="management.showMoreError">
    <div class="alert alert-danger">{{ management.showMoreError }}</div>
</div>
<!-- Custom Error Message -->

<br>
<br>
  
  
  <div class="panel-group">
   
    <div class="panel panel-primary">
      <div class="panel-heading">All User List</div>
      <div class="panel-body">
          
          
           <div class="table-responsive">
               
               <table class="table table-stripped table-hover table-bordered">
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                    
                    <tr ng-repeat="person in management.users | pagination: (currentPage-1)*pageSize | limitTo:pageSize ">
                        <td>{{ person.name }}</td>
                        <td>{{ person.username }}</td>
                        <td>{{ person.email }}</td>
                        <td>
                            <a  ng-show="management.editAccess" href="/edit/{{ person._id }}" class="btn btn-primary btn-xs">Edit</a>
                            
                            <button class="btn btn-danger btn-xs" ng-click="management.deleteUser(person.username);" ng-show="management.deleteAccess">Delete</button>
                        </td>
                    </tr>
                   
               </table>
               
               
           </div>
           
           <ul uib-pagination total-items="management.users.length" ng-model="currentPage" items-per-page="pageSize"></ul>
          
          
      </div>
    </div>

    
  </div>
</div>


